<app-header></app-header>
<div class="page-wrapper">
    <div class="wrapper wrapper--w680" style="padding-top: 10%">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body" style="margin-top: 4%;padding-right: 7%">
                <h2 class="title">A. Training Services Request Application Form, Form-TRAF-01</h2>
                <h4 class="sub-title">Please fill the form in BLOCK letters. If you are applying for more than one training, you can list the level &amp; code
						of them or you can list the training Code &amp; level at the bottom of this form.</h4>
				<form [formGroup]="validationForm" autocomplete="off" (ngSubmit)="sendForm(validationForm.value)" novalidate >
					<div class="form-left">
						<div class="container" style="margin: 20px">
							<h3 class="sub-title">1. Client’s Company/Organizational Information</h3>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Company Name" formControlName="company_Name">
									    <mat-error *ngIf="hasError('company_Name','required')">
									      Company Name is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput #tin (keypress)="numberOnly($event)" maxlength="13" placeholder="Tin Number" formControlName="tin_number">
									    <mat-hint align="end">tin number must be 13 digits! {{tin.value?.length || 0}}/13</mat-hint>
									    <mat-error *ngIf="hasError('tin_number','required')">
									      Tin Number is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
								
							</div>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Company Address" formControlName="company_address">
									    <mat-error *ngIf="hasError('company_address','required')">
									      Company Address is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm">
									<mat-form-field class="example-full-width">
										<span matPrefix>+251 &nbsp;</span>
									    <input matInput type="tel" (keypress)="numberOnly($event)" maxlength="10" placeholder="Tell-Number" formControlName="tell_number">
									    <mat-error *ngIf="hasError('tell_number','required')">
									      Tell Number is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Email" formControlName="email">
									    <mat-error *ngIf="hasError('email','email') && hasError('email','required')">
									      Please enter a valid email address
									    </mat-error>
									    <mat-error *ngIf="hasError('email','required')">
									      Email is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Contact Person" formControlName="contact_person">
									    <mat-error *ngIf="hasError('contact_person','required')">
									      Contact person is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<h3 class="sub-title">2. Training Information</h3>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Area of Training" formControlName="area_of_training">
									    <mat-error *ngIf="hasError('area_of_training','required')">
									      Area of training is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm">
									<mat-form-field>
									  <mat-label>Level of Training</mat-label>
									  <mat-select formControlName="level_of_training" id="level_of_training">
									    <mat-option>None</mat-option>
									    <mat-option value="Senior">Senior</mat-option>
									    <mat-option value="Middle level">Middle level</mat-option>
									    <mat-option value="Entry/First Level">Entry/First Level</mat-option>
									  </mat-select>
									</mat-form-field>
								</div>
								<div class="col-sm">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Training Code" formControlName="topics_of_training">
										<mat-error *ngIf="hasError('topics_of_training','required')">
											Training code is <strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>

							</div>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Topics of Training" formControlName="topics_of_training">
									    <mat-error *ngIf="hasError('topics_of_training','required')">
									      Topic of training is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm">
									<mat-form-field class="example-full-width">
										<mat-datepicker #time></mat-datepicker>
										<input matInput [matDatepicker]="time"  placeholder="Training time frame/schedule" formControlName="training_time">
										<mat-datepicker-toggle matSuffix [for]="time"></mat-datepicker-toggle>
									    <mat-error *ngIf="hasError('training_time','required')">
									      Training Time/schedue is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<h3 class="sub-title">3. Trainees’ Information</h3>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput type="number" placeholder="Number of Trainer(if known)" formControlName="numbers_of_traniner">
									    <mat-error *ngIf="hasError('numbers_of_traniner','required')">
									      Number of trainer hours is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Minimun education " formControlName="min_education_background_trainers">
									    <mat-error *ngIf="hasError('min_education_background_trainers','required')">
									      Minimum education background is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Highest Education " formControlName="highest_education_background_trainers">
									    <mat-error *ngIf="hasError('highest_education_background_trainers','required')">
									      highest education background is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Language Preferable " formControlName="language_perference">
									    <mat-error *ngIf="hasError('language_perference','required')">
									      language's preference is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Linguistic skill " formControlName="linguistic_skill">
									    <mat-error *ngIf="hasError('linguistic_skill','required')">
									      linguistic skill is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Positional Level of trainees " formControlName="positional_level_trainers">
									    <mat-error *ngIf="hasError('positional_level_trainers','required')">
									      positional level is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<h3 class="sub-title">4. Facilities &amp; Venue</h3>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Preferred training Venue " formControlName="prefered_training_venue">
										<mat-error *ngIf="hasError('prefered_training_venue','required')">
											Training venue is <strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Refrshiment " formControlName="refrshiments_perference">
									    <mat-error *ngIf="hasError('refrshiments_perference','required')">
									      refrshiments preference is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Lunch Preference " formControlName="lunch_perference">
									    <mat-error *ngIf="hasError('lunch_perference','required')">
									      lunch preference is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<h3 class="sub-title">5. Fees settlement</h3>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Payable, at least, week before the commencement of the training" formControlName="payable_week_before_training">
									    <mat-error *ngIf="hasError('payable_week_before_training','required')">
									      Enter payable week before training is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput [matDatepicker]="picker" placeholder="Payable on the date of this request" formControlName="payable_date_request">
									    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  										<mat-datepicker #picker></mat-datepicker>
									    <mat-error *ngIf="hasError('payable_date_request','required')">
									      Enter payable date is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<!-- ** -->
							<div class="row">
								<div class="col-sm">
									<mat-form-field class="example-full-width">
									    <input matInput placeholder="Payable on the date of commencement or after the delivery, if the client requested & confirmed this with an official letter " formControlName="payable_week_after">
										<mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
										<mat-datepicker #picker></mat-datepicker>
										<mat-hint>payable week after training !</mat-hint>
									    <mat-error *ngIf="hasError('payable_week_after','required')">
									      Enter payable week after training is <strong>required</strong>
									    </mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<mat-checkbox>I agree to Terms Of Service!</mat-checkbox>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<button mat-button>Send</button>
								</div>
							</div>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<app-footer></app-footer>