
<app-header></app-header>
<div data-scroll='8' class="contact-me-section sec-p100-bg-bs mb-30 clearfix" id="contact">
  <!-- ==================== contact-me-section start ==================== -->
    <div class="Section-title">
      <div class="section-title text-center mb-60">
        <h4 class="text-center">our Mission And Vision</h4>
      </div>
    </div>
    <!-- /.Section-title -->

    <div class="row">
        <div class="col-sm-6">
            <div class="contact-left">
                <div class="cont-item">
                    <h2 class="title mb-30">Mission</h2>
                    <p class="text-center">To provide innovative solutions to customers and maximize benefits
                      to all stakeholders by attracting and retaining the best staff, introducing modern management and IT systems in 
                      every operation and partnering strategically with key stakeholders.</p>
                </div>
                <!-- /.cont-item -->

                <div class="cont-item">
                    <h2 class="title mb-30">Values</h2>
                    <ul>
                      <li><p>The human capital is the most valued asset</p></li>
                      <li><p>Customers are the main reason for our existence</p></li>
                      <li><p>Professional Excellence</p></li>
                      <li><p>Ethical Business Practice, Integrity and Accountability</p></li>
                      <li><p>Social Responsibility and Sustainable Development</p></li>
                      <li><p>Innovation is source of a unique competitive advantage</p></li>
                      <li><p>Change is a driving force for continuous growth and development.</p></li>
                      <li><p>Sense of urgency and team work</p></li>
                      <li><p>Abide by the rules of the law</p></li>
                    </ul>
                </div>
                <div class="cont-item">
                    <h2 class="title mb-30">Motto</h2>
                    <p>Distinctively indigenous innovative business solutions!</p>
                </div>
                <div class="cont-item">
                    <h2 class="title mb-30">General Objectives</h2>
                    <p>In line with its Memorandum of association, AAUBE shall engage in the following business and investment activities:</p>
                    <ul>
                      <li><p>Animal husbandry and Fattening, Dairy processing and Poultry /Agro-Industry</p></li>
                      <li><p>Wood and Metal works, and other manufacturing activities/Electromechanical Engineering</p></li>
                      <li><p>Construction and engineering consultancy</p></li>
                      <li><p>Public accounting and audit</p></li>
                      <li><p>Multimedia, Theater and Filmv</li>
                      <li><p>Specialized training and consultancy</p></li>
                      <li><p>Hotel and Restaurant</p></li>
                      <li><p>Publishing and Printing</p></li>
                      <li><p>Financial service, buying and selling of shares</p></li>
                      <li><p>Import and export, wholesale and retail trade</p></li>
                      <li><p>IT and related products</p></li>
                      <li><p>Education/community school</p></li>
                    </ul>
                </div>
            </div>
            <!-- /.contact-left -->
        </div>
        <!-- colm6 -->

        <div class="col-sm-6"  >
            <div class="contact-right">

                <div class="cont-item">
                    <h2 class="title mb-30">Grand Strategies</h2>
                    <ol>
                      <li>Developing in-house core human resources capability, empowering and and rewarding.</li>
                      <li>Use of external resources/outsourcing non-core activities as appropriate/.</li>
                      <li>Quality leadership.</li>
                      <li>Focusing on long-term contractual work with selected clients/customers.</li>
                      <li>Selecting prime locations for display and sales outlet for enhancing sales and market share.</li>
                      <li>Launching strong advertisement and promotion campaigns for brand credibility and loyalty.</li>
                      <li>Encouraging creativity, innovation and institutional capacity building as sources for gaining 
                      better competitive advantage.</li>
                      <li>Integrating different business activities that are under the company to ensure synergy.</li>
                      <li>Fostering partnerships with innovators/entrepreneurs, technology suppliers and prospective foreign investors.</li>
                      <li>Focusing on government’s development strategies and priority areas.</li>
                      <li>Benchmarking and forging institutional linkages with higher education, consultancy, consultancy and training centers 
                      and other governmental and non-governmental institutions.</li>
                      <li>Diversification and and/or expansion as appropriate.</li>
                      <li>Opening branches in relevant places in Ethiopia and abroad, as appropriate.</li>
                      <li>Exploiting comparative advantages of neighboring countries, like S. Sudan and Somalia for business expansion and growth.</li>
                      <li>Allowing Flexibility, Planning and Prioritization for appropriate resource allocation.</li>
                      <li>Putting in place Systems and ICT support to enhance operational efficiency and competitiveness.</li>
                      <li>Introducing simple and lean, process-based and value adding structures.</li>
                    </ol>
                </div>
                <img class="cont-item" src="../assets/img/vision.png">
                <p class="cont-item">
                    The general assembly of shareholders, GA, is the highest authority of AAUBE. 
                    The GA is fully mandated to change and/or amend the article and memorandum of
                     association of the company, as well as taking the ultimate decision on new investment and 
                     business undertakings, and their dissolution. It is also in charge of appointing the General 
                     Manager of the company and external auditors, as well as approving the annual performance and 
                     financial reports. The GA is also mandated to set the vision, mission, policies and strategic 
                     direction of the company, as well as to approve its financial and operational plans.
                    The General Manager (CEO) is responsible for translating the company’s mission
                    into action; managing the overall operation and value chain of the company; 
                    drawing up and implementing financial, operational and strategic plans; ensuring
                      efficient and optimum utilization of company resources; keeping the books and
                      accounts of the company, and discharging all the duties and responsibilities 
                      entrusted to him/her in line with relevant government rules and mandates laid out 
                      in the article of association and bylaws of the company.
                  </p>
                  <p class="cont-item">
                    In order to attain and sustain the company’s objectives successfully, 
                    the General Manager (CEO) shall work closely with the senior management
                    team that includes the D/General Manager for Operations (COO) and the D/General 
                    Manager for Administration and Finance (CAFO), who are in charge of leading the 
                    core business operations and functional units of the company, as well as other 
                    support staff who are under his/her direct supervision.
                  </p>
                  <p class="cont-item">
                    The organization and management of the company, its adequate organizational structure and systems, as well as excellent reputation of AAU are additional precious intangible assets that provide sound
                    competitive advantages for guaranteeing business success.
                  </p>
                  <p class="cont-item">
                    Moreover, the company is managed by a team of highly qualified and experienced senior executives, and management staff who are committed to make a difference in achieving the company’s business objectives by enhancing operational efficiency and competitiveness aimed at ensuring business excellence for the absolute satisfaction of customers and guaranteeing fair return for shareholders. Technical expertise of employees at respective business units with proven track record in delivering quality goods and services to customers will also guarantee the company to 
                    acquire a considerable number of loyal customers throughout the country.
                  </p>
            
                
                
              </div>
          </div>
      </div>
            <!-- /.contact-right -->
        <!-- colm6 -->
    <!-- row -->

</div>
<app-footer></app-footer>