<!-- header -->
<app-header></app-header>
<!-- end -->
<div class="pad">
	<div class=content>
		<div class="wrapper-1">
			<div class="wrapper-2">
			<h1>Thanks for being awesome!</h1>
			<p>We have received your message and would like to thank you for writing to us. If your inquiry is urgent, please use the telephone number listed below to talk to one of our staff members. Otherwise, we will reply by email as soon as possible. </p>
			<button class="go-home">
			go home
			</button>
			</div>
			<div class="footer-like">
			<p>Talk to you soon
				<a routerLink="/home">AAU Business Enterprize and consulting</a>
			</p>
			</div>
		</div>
	</div>
</div>

<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">

<!-- footer -->
<app-footer></app-footer>