<!-- 
<div class="page-wrapper">
  <div class="wrapper wrapper--w680" style="padding-top: 10%" id="print-section">
      <div class="card card-1">
          <div class="card-heading"></div>
          <div class="card-body" style="margin-top: 4%;padding-right: 7%">
            <form [formGroup]="validationForm" autocomplete="off" (ngSubmit)="sendEval(validationForm.value)" novalidate >
              <div class="form-left">
                <div class="container" style="margin: 20px">                
                  <h2 class="title">Research Services Progress updating & Reporting Form, RSPURF-02</h2>
                  <div class="row">
                    <div class="col-sm">
                      <mat-card>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>S.N </th>
                                <th>Research’s Topic </th>
                                <th>Clients’ name </th>
                                <th>Clients’ address </th>
                                <th>Projected time frame</th>
                                <th>The date of commencement </th>
                                <th>Targeted accomplishment time</th>
                                <th>Current Status</th>
                                <th>Contact person </th>
                                <th>Client’s feedback </th>
                                <th>Remark </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </mat-card>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                      <button class="btttn" mat-button type="submit" [disabled]="!validationForm.value">Send</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <button class="btttn" mat-button type="submit" (click)="print()" >Print</button>
          </div>
      </div>
  </div>
</div> -->