<!-- table -->

<div style="margin-top: 20%" fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">
  <mat-form-field>
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div>
    <a data-toggle="modal" data-target="#createModal" mat-button color="primary">Create Message</a>
  </div>
  <button (click)="getUserMessage()" mat-button style="float: right">Refreash</button>
</div>
  <mat-card>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject </th>
        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Message </th>
        <td mat-cell *matCellDef="let element"> {{element.message}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.created_At}} </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> View </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="redirectToDetails(element._id)">
              <mat-icon class="mat-18">reorder</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="getUserMessage(element._id)" data-toggle="modal" data-target="#deleteModal" >
              <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
</mat-card>
<!-- end table -->

<!-- delete modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{usr.firstname}}</p>
        <p>subject:{{msg.subject}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- end -->

<!-- send message -->
<div class="modal fade" tabindex="-1" role="dialog" id="createModal" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Send Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="validationForm" (ngSubmit)="sendMessage(validationForm.value)" novalidate>
          <div class="example-container">
            <div class="row">
              <div class="col-sm">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="subject" placeholder="Subject">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <mat-form-field class="example-full-width">
                  <textarea rows="5" matInput formControlName="message" placeholder="Message"></textarea>
                </mat-form-field>
              </div>
            </div>
            <mat-card-actions>
              <button mat-button color="blue" [disabled]="!validationForm.value" >Send</button>
            </mat-card-actions>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div> -->
    </div>
  </div>
</div>
<!-- end -->

<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{usr.firstname}} {{usr.lastname}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="validationForm" (ngSubmit)="sendMessage(validationForm.value)" novalidate>
          <div class="example-container">
            <div class="row">
              <div class="col-sm">
                <mat-form-field>
                  <input matInput formControlName="subject" placeholder="Subject">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <mat-form-field>
                  <textarea matInput formControlName="message" placeholder="Message"></textarea>
                </mat-form-field>
              </div>
            </div>


            <mat-card-actions>
               <button mat-button>LIKE</button> -->
                <!-- <button mat-button [disabled]="!validationForm.value">Send</button>
              </mat-card-actions>
          </div>
      </form>
        
    </mat-card-content>
    
</mat-card> --> 