<app-header></app-header>

<body>
  <div data-scroll='2' style="margin-top: 5%" class="my-skill-section sec-p100-bg-bs mb-30 clearfix" id="skill">
    <div class="Section-title">
        <h2><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Training</h2>
        <span>Training</span>
        <p>
           AAUBE shall organize and deliver a regular/open/ and tailor-made trainings to the clients. See the annex part 3 for the detail lists of the topics, days and price of the trainings. The training schedules may be determined upon negotiation.
        </p>
  
        <h3><b>A Regular or Open Training Delivery in the following but not limited to</b></h3>
        <p>The Center, together with the OO, shall facilitate, coordinate and administer the regular or open training categorized into:</p>
        <ul>
          <ol>
            <li>Management Development Training/MDT;</li>
            <li>Expertise Development Training/EDT; Junior Staff Development/JSD. To See the List of Trainings click here .</li>
          </ol>
        </ul>
  
        <h3 style="margin-top: 20px;"><b>Tailor-Made Training Services Delivery</b></h3>
        <p>The tailor-made training services should be designed, developed and delivered based on the needs and request of the clients. The enterprise undertakes appropriate and timely OCA, TNA and performance gap assessment focusing on the requested assignment or the enterprise might provide such services based on the ToR or OCA & TNA of the clients. See the Annexed Part Section Three “E” for TNA Form to be applied.</p>
  
        <h3 style="margin-top: 20px;"><b>In delivering the Training tasks, the workload shall be calculated as follows</b></h3>
        <p>A trainer shall have not more than a six-hour training per day excluding the break time (preferably with Co-trainer/s); this shall be subject to the agreement with the clients
  
          A trainer shall not deliver a training more than five days per a week; this shall be subject to the agreement with the clients
  
          A trainer’s maximum hour for a training delivery in a week is 30 hours i.e. 6 hours per a day and 5day in a week, this shall be subject to the agreement with the clients; taking into consideration the nature of training and the trainees’ composition & skills</p>
    </div>
    <!-- /.Section-title -->
  
    <div class="professional-skills-area">
      <p>The enterprise may provide On-the-Job or Off-Job trainings based on the needs and capacity of the clients. The trainings might use the below listed mix of methodologies:</p>
        <ul class="tabs skills-tab ul-li">
            <li class="tab tag-item tag-icon">
                <i class="fa fa-tags" aria-hidden="true"></i>
            </li>
            <li class="tab tag-item"><a href="#">#Brainstorming</a></li>
            <li class="tab tag-item"><a href="#" class="active">#Interactive talk</a></li>
            <li class="tab tag-item"><a href="#">#Illustrative talk</a></li>
            <li class="tab tag-item"><a href="#">#Group Discussion Debate</a></li>
            <li class="tab tag-item"><a href="#">#Gallery Walk Panel discussion</a></li>
            <li class="tab tag-item"><a href="#">#Role play exercise</a></li>
            <li class="tab tag-item"><a href="#">#Workshop method</a></li>
            <li class="tab tag-item"><a href="#">#Classroom practical</a></li>
            <li class="tab tag-item"><a href="#">#Case Study Field practice</a></li>
            <li class="tab tag-item"><a href="#">#Demonstration Practice in participatory </a></li>
            <li class="tab tag-item"><a href="#">#evaluation of training</a></li>
            <li class="tab tag-item"><a href="#">#Games Simulation</a></li>
            <li class="tab tag-item"><a href="#">#Pair Work Team Building</a></li>
            <li class="tab tag-item"><a href="#">#quiz</a></li>
        </ul>
        <p>The selection of the right methods might be determined taking into consideration the following factors: Learning objective, Trainer, Trainee, Educational level, Age and experience, Social/cultural environment, Learning environment, Subject, Time and material factors, Preparation time-cost, Length of course, Course runs, Time of day, Teaching facilities.</p>
        <div id="graphicdesign"  style="margin-top: 20px;">
            <h2 class="title">Pre and Post Training Assessment</h2>
  
            <div class="skill_progress">
  
               <p style="margin-top: 30px;">The focus of the pre and post training assessment is to explore the level of knowledge, skills and experiences of participants on the concepts, principles and contents of the training topic by comparing result of the assessment before and after the actual training. The result of the pre-training assessment shall be the baseline against which the effectiveness of the training shall be measured after its delivery. The same assessment questions shall be given as post-training assessment at the end of the training. The familiarity and prior knowledge/skills can be measured in multiple questions with choices of ranges of excellent, very good, good, fairly, poorly or not at all. To Seethe a Pre-Training Checklist <a href="">click here.</a></p>
  
               <p>The Pre-training assessment could be sent to participants via email ahead of the training and this shall help to understand the status of the trainees in terms of their educational background, experience, technical know-how, skills and knowledge. The same assessment should be given at the end of the training (Post Training Assessment) \ to check how much the training has made a difference in the knowledge and skills of participants.</p>
  
            </div>
  
            <div class="skill_progress" style="margin-top: 30px;">
              <h2 class="title">During Training/ Training Progress Assessment</h2>
              <p>The focus of assessment of training in the progress might be in the form of in class or online. This refers to how training is conducted on-the job, off the job/in class, on-line, or a combination of these. This evaluation shall address the issues framed in “Training Progress Assessment Form, click here for the form.</p>
            </div>
  
            <div class="skill_progress" style="margin-top: 30px;">
              <h2 class="title">At Post-Training stage /Post Training Assessment</h2>
              <p>Post-training assessment shall be conducted after the completion of the training or at the end of the training delivery in order to evaluate the appropriateness and effectiveness of the entire package of the training.</p>
              <p>The Center shall gather the post Training Feedbacks by direct observation & taking points. Besides, the Center shall use the feedbacks of the Trainees obtainable through Trainer & Training Evaluation Form/TTEF as well as by getting and confirming the feedbacks of the Client organization through Training Services Evaluation Form/TSEF. Click here for the form for Leadership/CEO in MDT training minimum # of trainees 10 & the Maximum is 20 Trainees per a sessionfor Experts/ EDT training the Minimum # 25 and the Maximum # is 30 Trainees per a session;for Junior Staff/JSD EDT the Minimum # 25 and the Maximum 40 trainees per a session
  
    for a highly technical training with methodologies like demonstrations and simulations are used could be as small as 10-20 per session.
  
    a client which is willing to cover the entire training cost shall be entitled to take the training though the number of trainees per a session is below the standard number;
  
    The number of participants for a highly technical training where methodologies like demonstrations and simulations are used could be as small as 10-20 per session.
  
    Keeping, however the aforementioned provisions, a client which is willing to cover the entire training cost shall be entitled to take the training though the number of trainees per a session is below the standard number;
  
    Keeping the above provisions, there might be conditions to accommodate more trainees beyond the the standard number if the client is requested a “conference or panel discussion type of training or service;</p>
  
    <p>In the case of “h”, the price for a training/conference/panel discussion per participant shall be:</p>
    <ul>
      <li>100 birr per trainee if the number of trainees are 100 to 500 individuals;</li>
      <li>75 birr per trainee if the number of trainees are 501 to 750 individuals;</li>
      <li>50 birr per trainee if the number of trainees are 751 to 1000 individuals in a hall for one or two days;</li>
  
    </ul>
  
    <p style="margin-top: 20px">Keeping the provisions in “i”, if the training or conference/panel discussion like training takes place for more than two days the price in “i” shall be multiplied by the number of each additional days;</p>
    <p style="margin-top: 20px;">If such training or conference/panel discussion like training takes for more than two days, there shall be 25% of price deduction from the additional days entire cost of participants fee;</p>
    <p>Keeping the above provisions, there shall be material development and facilitator and co-facilitator fees to be calculated as per the provision of this guideline, if there is a need for a hard copy of training material, certificates and refreshment services costs shall be calculated based on the provisions of this guideline;</p>
            </div>
        </div>
  
    </div>
  
  </div>
</body>


<app-footer></app-footer>