<!-- header -->
<!-- <app-header></app-header> -->
<!-- end header -->
<div class="page-wrapper" style="margin-top: 5%" id="needPrint">
  <div class="wrapper wrapper--w680">
    <div class="card card-1">
      <mat-card style="margin-left: 4%;margin-right:4%;margin-top:5%">
        <div class="card-heading"></div>
        <div class="card-body">
            <h2 class="title" style="text-align: center;">Agreements for CRT Services </h2>

            <form action="">
              <h3 class="title">Agreements for CRT Services to be signed with Client</h3>
              <div class="row">
                <div class="col-sm">
                  <p>Service Type</p>
                    <mat-form-field class=" ">
                      <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                  <p>Reference</p>
                    <mat-form-field class=" ">
                      <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                  <p>Date</p>
                    <mat-form-field class=" ">
                      <input matInput>
                    </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm">
                  <h6>This Agreement (hereinafter referred to as the “Agreement”) is entered into this
                    <mat-form-field class=" ">
                      <input matInput>
                    </mat-form-field>.day of
                    <mat-form-field class=" ">
                      <input matInput>
                    </mat-form-field>
                    GC by and between Addis Ababa University Business Enterprise/in short AAUBE, <strong> hereinafter</strong> called “Service Provider”, 
                    whose registered office is situated in Addis Ababa, sub-city <strong> Gullele, Woreda 02, house number
                     AAU6K/B78/01 Telephone <a href="0118 70 45 90">0118 70 45 90</a> / <a href="0118684772">0118684772</a>, P.O.Box 150368 </strong>on the other part. </h6>AND
                     <mat-form-field class=" ">
                        <input aria-colspan="5" matInput>
                      </mat-form-field>Hereinafter called “Client”, whose address is in
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field> ,Sub-City
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field>Woreda
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field>House Number
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field>Telephone Number
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field>, P.O. Box
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field>
                </div>
              </div>

              <div class="row">
                <!-- <h4 class="title">Background:</h4> -->
              </div>
              <div class="row">
                <div class="col-sm">
                    Whereas, AAUBE has the capacity and readiness to provide the required services as per the needs and 
                    standards of the “Client” and the services required are more specifically outlined under Schedule A (Schedule of S
                    ervices hereinafter referred as the “Services” to be delivered by the Service Provider;  
                </div>
              </div>
              <div class="row">
                <div class="col-dm">
                    Whereas, the Service Provider has agreed to take up the intended assignment and deliver the required services by 
                    assigning qualified and experienced professionals to deliver the Services in accordance with high standards and specifications; and 
                    further guarantees its ability and professionalism towards the efficient execution of the Services;
                </div>
              </div>
              <div class="row">
                <div class="col-dm">
                    Now, therefore, the Services Provider and the Client, separately referred as “Party” and collectively as “Parties”, have agreed on the following conditions:    
                </div>
              </div>

              <h3 class="title">Article One, Objective of the Agreement:</h3>
              <div class="row">
                <div class="col-sm">
                  <p>The objective of this agreement is to: </p>
                  <mat-form-field>
                    <input matInput aria-colspan="4">
                  </mat-form-field>
                  The Service Provider to take up and ensure the proper, timely, efficient and effective delivery of the required service in accordance to the needs & specification of the Client and as per the terms and conditions of this agreement.

                  
                </div>
              </div>
              <h3 class="title">Article Two, Services to be provided: </h3>
              <div class="row">
                <div class="col-sm">
                  <ul>
                    <li>The Service Provider shall provide the Services outlined under Schedule A which is enclosed herewith and shall form an integral part of this agreement;
                      </li>
                    <li>The Service Provider shall comply with the rules, policies, policies and regulations and shall deliver the Services in accordance with the needs, requirements and standards of the Client.</li>
                  </ul>
                </div>
              </div>

              <h3 class="title">Article Three, Language: </h3>
              <div class="row">
                <div class="col-sm">
                  <p>The medium of communication and service delivery shall be English Language. However; the parties may use Amharic if needs arise & both parties are convenient</p>
                </div>
              </div>

              <h3 class="title">Article Four, Working Hours & Schedule: </h3>
              <div class="row">
                <div class="col-sm">
                  <p>Working hours & Schedule shall be as per stated in the proposal, however, working hours in a week shall not be beyond 40 hours per a week</p>
                </div>
              </div>

              <h3 class="title">Article Five, Obligation of the Service Provider: </h3>
              <div class="row">
                <div class="col-sm">
                  <ul>
                    <li>The Service Provider shall deliver the Services set out under Schedule “A” in accordance with the requirements and/or specifications of the Client; the Service
                       Provider may comply with the rules, regulations, policies and procedures of the Client;</li>
                    <li>The Service Provider shall assign, deploy and use its professionals and facilities for the purpose of the provision of the services herein;</li>
                    <li>The Service Provider guarantees the qualification and integrity of the professionals it assigns for the performance and delivery of the intended service;</li>
                    <li>The Service Provider shall maintain all the records and documents related with the undertaking of the intended services, from its commencement to completion;</li>
                    <li>The Service Provider shall ensure the timely and quality service performance and delivery;</li>
                    <li>The Service Provider shall take full responsibility to ensure that the Services are carried out professionally, effectively and efficiently as per the needs and ToR of the Client; it shall, therefore, be responsible for any breach of any obligations under this agreement; </li>
                    <li>The service Provider shall take care of all management and administrative issues of the assigned professionals including deployment, performance, discipline and payment;</li>
                    <li>The service Provider shall ensure that its Officers and assigned Professionals are fully aware of their responsibility to immediately notify the Client upon knowledge of any danger (actual or threatened). </li>
                    <li>The consultant will be responsible for the overall management and supervision of the intended assignment. </li>
                  </ul>
                </div>
              </div>

              <h3 class="title">Article Six, Obligation of the Client:</h3>
              <div class="row">
                <div class="col-sm">
                  <h3>The Client shall: </h3>
                  <ul>
                    <li>Assure the quality of the Service to be delivered by the Service Provider before the performance & delivery of the Service;</li>
                    <li>Provide Documents required for the development & delivery of the CRT services;</li>
                    <li>Provide guidance (if necessary) to deliver the CRT services in a flexible way in discussion with the Service Provider</li>
                    <li>Organize suitable venue and facilities if necessary</li>
                    <li>Effect payment of the consultancy fee timely as per the agreement.</li>
                  </ul>
                </div>
              </div>

              <h3 class="title">Article Seven, Remuneration:</h3>
              <div class="row">
                <div class="col-sm">
                  <ul>
                    <li>In consideration of the Service performed and delivered by the Service Provider, the Client shall pay to the Service Provider remuneration in ETB or $;</li>
                    <li>The total remuneration for the work mentioned under this agreement is Birr___________;</li>
                    <li>The payment is Inclusive of VAT and all forms of taxes (“Payment”), to be payable upon satisfactory performance of the Service by the Service Provider;</li>
                    <li>The Remuneration shall be settled phase by phase in two installments, 50% of the total cost on the signing of this contractual agreement; </li>
                    <li>The remaining 50% of the total cost shall be settled upon the competition of the performance and delivery of the intended assignment;</li>
                    <li>The Service Provider shall raise his invoice for each payment settlement.</li>
                  </ul>
                </div>
              </div>

              <h3 class="title">Article Eight, Performance Bond/Bank Guarantee:</h3>
              <div class="row">
                <div class="col-sm">
                  <p>The Service Provider agrees to provide, upon signing of this Agreement, an absolute, irrevocable and 
                    unconditional performance bond/bank guarantee, in the form substantially similar to the template
                     enclosed herewith as Schedule B (“Form of Bank Guarantee”), in the amount of Birr
                    <mat-form-field class=" ">
                      <input matInput>
                    </mat-form-field>or its equivalent in cheque from a bank acceptable to the Client.
                  </p>
                </div>
              </div>

              <h3 class="title">Article Nine, Taxes:</h3>
              <div class="row">
                <div class="col-sm">
                  <p>Payments of any other taxes and government dues shall be the sole responsibility of the Service Provider.</p>
                </div>
              </div>

              <h3 class="title">Article Ten, Personal Responsibility:</h3>
              <div class="row">
                <div class="col-sm">
                  <p>The Service Provider shall not assign or delegate the performance of the Services of this agreement to a third party without the specific approval of the Client secured in writing;</p>
                </div>
              </div>

              <h3 class="title">Article Eleven, Confidentiality: </h3>
              <div class="row">
                <div class="col-sm">
                  <p>The Service Provider shall ensure and take full responsibility for all information obtained in the execution of the intended assignment to be kept confidential.</p>
                </div>
              </div>

              <h3 class="title">Article Tewelve, Validity Period/Duration:</h3>
              <div class="row">
                <div class="col-sm">
                  <ul>
                    <li>This agreement shall take full force and effect starting from this 
                        <mat-form-field class=" ">
                          <input matInput>
                        </mat-form-field>day of
                        <mat-form-field class=" ">
                          <input matInput>
                        </mat-form-field>and shall remain valid until the fully accomplishment of the intended assignment; </li>
                    <li>The date of commencement of the Service shall be the date of agreement entered</li>
                    <li>The Service Provider shall retain all property and documents in its possession where this agreement is expired or terminated due to any of the reasons mentioned herein. </li>
                    
                  </ul>
                </div>
              </div>

              <h3 class="title">Article Thirteen, Deliverables/Outputs: </h3>
              <div class="row">
                <div class="col-sm">
                  <p>The Service Provider is expected to perform & deliver the intended service as per the standard, quality & needs of the clients & the ToR. The detail deliverables are mentioned in the schedule B attached herein with this agreement.</p>
                </div>
              </div>

              <h3 class="title">Article Forteen, Alternation or Modification: </h3>
              <div class="row">
                <div class="col-sm">
                  <ul>
                    <li>Should circumstance arise which call for modifications or changes to the Agreement, these shall be made by mutual consent of the two parties (the Service Provider & the Client). The party requesting for modifications or changes shall submit proposal to the other party in this respect. </li>
                    <li>Any alterations, modifications and/or supplements that may mutually be agreed upon in connection with this agreement are valid only if they are made in writing and signed duly by authorized representatives of the two parties. </li>
                    
                  </ul>
                </div>
              </div>

              <h3 class="title">Article Fifteen, Terminations & Force-Measure: </h3>
              <div class="row">
                <div class="col-sm">
                  <ol type="a">
                    <li>Both parties can terminate this agreement if the other fails to perform their obligations stated under this contract.  </li>
                    <li>Both parties can terminate this contract by mutual consent and this shall be made in writing. </li>
                    <li>. Both parties can terminate this contract with notifying the other party within 20 days if force majeure will happen. The force majeure will be defined as per the 1960 Civil Code of Ethiopia.</li>
                  </ol>
                </div>
              </div>

              <h3 class="title">Article Sixteen, Dispute Settlement: </h3>
              <div class="row">
                <div class="col-sm">
                  <ul>
                    <li>Where any dispute arises between the parties with regards to or in its connection with the application or interpretation of the provision of this agreement, the parties shall first settle the dispute through amicable consultation  </li>
                    <li>Failing settlement, however, the competent Federal Courts of Ethiopia, sitting in Addis Ababa, shall assume jurisdiction over the matter.</li>
                    
                  </ul>
                </div>
              </div>

              <h3 class="title">Article Seveteen, Miscellaneous:</h3>
              <div class="row">
                <div class="col-sm">
                  <ul>
                    <li>All amendments and modifications to this agreement shall be made by an instrument in writing signed by both parties;</li>
                    <li>In the event of a conflict between a Schedule and the terms and conditions of this Agreement, this agreement shall prevail;</li>
                    <li>The invalidity or unenforceability of any of the provisions contained within this Agreement shall not affect the validity or enforceability of this agreement or the rest of the provisions contained herein. The parties may, if they so wish, agree on a replacement provision as may be applicable in order to achieve the same legal and economic target to the invalid or unenforceable provision; </li>
                    <li>This agreement shall be executed in two /2/ original copies, each original copy having the same force and effect as the other</li>
                  </ul>
                </div>
              </div>


              <h3 class="title">2. Objective of MoU</h3>
              <h5>2.1. General Objective</h5>
              <div class="row">
                <ol type="a">
                  <li>Through partnership, AAUBE expresses its wish to form collaboration, cooperation, and joint venture in core areas of the company and bridge the gap prevailed in the area.  </li>
                  <li>The overall objective of the partnership is to strengthen the institutional ties between AAUBE  and the partner in the area of CRT and publication of educational & research based items. </li>
                </ol>
              </div>

              <h5>2.2. The specific objectives:</h5>
              <div class="row">
                <div class="col-sm">
                  <ol>
                    <li>Increase understanding on the bases of mutual benefit and professional contribution that will function both parties; </li>
                    <li>Avail expertise; provide CRT services, material production & publication when the need arises;</li>
                    <li>Foster better collaboration through effective  and wise use of resource between the institutions; </li>
                    <li>Guarantee timely provision of services, quality of work and deliverables. </li>
                  </ol>
                </div>
                
              </div>

              <h3 class="title">3. Partnership Modality</h3>
              <div class="row">
                <p>The objectives of the partnership will be achieved through:</p>
                <ol>
                  <li>Exchange of services:  consultancy, research and training services as well as research and educational  material development and production</li>
                  <li>Staff or expert secondment,</li>
                  <li>Organizing Workshop & Conference;</li>
                  <li>Certification program;</li>
                </ol>
              </div>

              <h3 class="title">4. Principles</h3>
              <p>The partnership will be based on the following general principles: </p>
              <div class="row">
                <ol>
                  <li>Respect and mutual understanding;</li>
                  <li>Respecting organizational structures, mandates and institutional capacities of both parties;  </li>
                  <li>Quality of work, timely deliverables, reasonable cost.</li>
                  <li>Strong professional and ethical dealings.</li>
                  <li>Reciprocity of action and commitment. </li>
                </ol>
              </div>

              <h3 class="title">5. Areas Of Cooperation</h3>
              <h5>5.1 Consultancy</h5>
              <div class="row">
                <ol type="a">
                  <li>Strategic Plan Development & Management;</li>
                  <li>Organizational restructuring and changes management;</li>
                  <li>Salary scale and benefit packages;</li>
                  <li>Human Resources and Organizational Development;</li>
                  <li>Human resource planning and management;</li>
                  <li>Feasibility & Business Development ;</li>
                  <li>Project Management</li>
                  <li>Monitoring, Evaluation, Reporting and Learning</li>
                  <li>Agro-Industry & Manufacturing;</li>
                  <li>Change Management;</li>
                  <li>Conflict Management;</li>
                  <li>Edutainment and Catering services;</li>
                  <li>Social responsiveness  & accountability</li>
                  <li>Gender and development</li>
                  <li>E-Governance;</li>
                  <li>ICT</li>
                </ol>
              </div>

              <h5>5.2 Research</h5>
              <div class="row">
                <ol type="a">
                  <li>A nation-wide researches on socio-economic, governance & politics and Business;</li>
                  <li>Nation-wide feasibility study;</li>
                  <li>Evaluation & Studies: Surveillance studies, Baseline, Midterm & Terminal evaluations;</li>
                  <li>Socio-economic research</li>
                  <li>ICT and related;</li>
                  <li>Education & Capacity Building;</li>
                  <li>Health and Hygiene;</li>
                  <li>Culture/Traditional Practices & Values;</li>
                </ol>
              </div>

              <h5>5.3 Training:</h5>
              <div class="row">
                <ol type="a">
                  <li>Open/Regular Training categorized in Management Development Training & Expertise Development Training;</li>
                  <li>Tailor-made Training based on the TNA of the Client’s Organization; </li>
                </ol>
              </div>

              <h5>5.4 Secondmnet:</h5>
              <div class="row">
                <ol type="a">
                  <li>Professionals’ deployment at IGOs, INGOs, Multinationals Cooperation, etc;</li>
                  <li>Overseas deployment of professionals;</li>
                </ol>
              </div>

              <h5>5.5 Certification:</h5>
              <p>Certification Program with a short term training </p>

              <h5>5.6 Publication:</h5>
              <p>Educational & Research based Material Development & Publication such as: Training material, Books, leaflets, booklets, posters, radio and TV spot programs, Magazines;</p>
              
              <h3 class="title">6 Financial Framework:</h3>
              <div class="row">
                <ol type="a">
                  <li>Both parties shall stand for the Transparent, reliable & timely documentation of transaction;</li>
                  <li>The enterprise administration & finance department shall be entitled to manage the finance as far as the Enterprise is going to earn 50 %& above from the delivery of a service delivered as per this partnership;</li>
                  <li>Depending on the nature of the intended CRT service, the percentage of  partner share, the level of partners engagement, the structure & capacity of the Finance Unit of the partner, the partner finance unit might manage the finance;</li>
                </ol>
              </div>

              <h3 class="title">7 Benefits Of Partnership:</h3>
              <div class="row">
                <ol type="a">
                  <li>Synergy For Mutual Success</li>
                  <li>Goodwill & Facility Sharing</li>
                  <li>Quality Service Provision With Guarantee.</li>
                  <li>Simplifying Bid Process And Complications.</li>
                  <li>Confidence And Trust Building</li>
                  <li>Timely Deliverables</li>
                  <li>Competent And Well Experienced.</li>
                </ol>
              </div>

              <h3 class="title">8. Duration & Termination</h3>
              <p>This MoU is effective until the life span of a strategic plan years/ 5 Years. Both parties shall establish a comprehensive agreement upon securing the Tender/Assignment. </p>
              <p>SIGNED on this:</p>
              <div class="row">

                <div class="col-sm">
                  <div class="row">
                    <!-- left -->
                    <div class="col-sm">
                      <label for="reference">SIGNED on this </label>
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div> 
                  <div class="row">
                    <div class="col-sm">
                      <label for="reference">Mr/Dr </label>
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <label for="reference">address </label>
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-sm">
                      <label for="reference">P.O.Box: </label>
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-sm">
                      <label for="reference">Email: </label>
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-sm">
                      <label for="reference">Tel: </label>
                      <mat-form-field class=" ">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div> 
                </div>

                <div class="col-sm" style="margin-top:20%;float:right">
                  <h4>General Manager</h4>
                  <ol>
                    <li>Addis Ababa University Business Enterprise Plc</li>
                    <li>AAU Main Campus, Sidist Kilo </li>
                    <li>P.O.Box 150368</li>
                    <li>Addis Ababa, Ethiopia</li>
                  </ol>
                </div>
                
              </div>
            </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<button (click)="print()">Print</button>

<!-- footer -->
<app-footer></app-footer>