<app-header></app-header>


<!-- <div class="signin-content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formReset" (ngSubmit)="sendVerfication(formReset.value)">
          <p>Enter Your Email address here to reset your account</p>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" formControlName="email" required>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!formReset.valid">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div> -->

  <div class="login_wrapper">
    <div class="container">
        <div class="col-md-12 pad-0">
            <div class="row login-box-12">
            	<div class="col-lg-5 col-md-12 col-sm-12 px-0">
                	<div class="login_right">
	                    <a href="#" class="logo_text">
                        <span>AAU</span> Business Enterprize
	                    </a>
	                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt Lorem Ipsum</p>
	                    <a href="#" class="btn-outline">Read More</a>
	                    <ul class="social-list clearfix">
	                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
	                    </ul>
	                </div>
                </div>
                <div class="col-lg-7 col-sm-12">
                    <div class="login-inner-form">
                        <div class="details">
                            <h3>Recover <span>your password</span></h3>
                            <form [formGroup]="formReset" (ngSubmit)="sendVerfication(formReset.value)">
                              <mat-form-field class="full-width-input" style="width: 100%">
                                <input matInput placeholder="Email" formControlName="email" required>
                              </mat-form-field>
                                <div class="form-group">
                                    <button type="submit" [disabled]="!formReset.valid" class="btn-md btn-theme btn-block">Send Me Email</button>
                                </div>
                            </form>
                            <p>Already a member?<a routerLink="/login"> Login here</a></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

  <!-- footer -->
  <!-- <app-footer></app-footer> -->