<app-header></app-header>
<!-- end header -->

<div class="container" style="padding-top: 10%">
  <mat-card>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, corrupti iusto recusandae consequuntur deserunt sunt sit. Dolor modi laborum consequatur! Magnam, ratione? Voluptatem iusto autem fugit itaque quibusdam quam, aspernatur excepturi numquam facere, consectetur repellendus illum, commodi beatae accusamus. Quae adipisci dolorum itaque placeat voluptatem excepturi, blanditiis dolor incidunt. Minus?</p>
    <mat-tab-group>
      <mat-tab label="Consultancy"> 
          <app-evaluation-consultancy></app-evaluation-consultancy>
      </mat-tab>
      <mat-tab label="Research"> 
        <app-evaluation-research></app-evaluation-research>
      </mat-tab>
      <mat-tab label="Training">
        <app-evaluation-training></app-evaluation-training>
      </mat-tab>
    </mat-tab-group>
    
  </mat-card>
</div>

<!-- footer -->
<app-footer></app-footer>