<app-header></app-header>

<!-- <mat-card>
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm.value)" class="form-horizontal" novalidate autocomplete="off">
      <div formGroupName="passwordGroup" [ngClass]="{'has-error': resetForm.get('passwordGroup').errors }">

        <div class="form-group" [ngClass]="{'has-error': resetForm.get('passwordGroup.password').invalid && resetForm.get('passwordGroup.password').dirty}">
            <div class="input-group col-sm-10">
                <mat-form-field class="full-width-input">
                  <input matInput placeholder="Password" id="password" formControlName="password" required>
                </mat-form-field>
            </div>
            <div class="text-danger"  *ngIf="resetForm.get('passwordGroup.password').dirty && resetForm.get('passwordGroup.password').errors">
                <span class="col-sm-2"></span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="resetForm.get('passwordGroup.password').errors.required">
                    Please enter password
                </span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="resetForm.get('passwordGroup.password').errors.pattern">
                    Password must contain one letter, number & special characters
                </span>
            </div>

        </div>
        <div class="form-group" [ngClass]="{'has-error': resetForm.get('passwordGroup.retypepass').invalid && resetForm.get('passwordGroup.retypepass').dirty}">
            <div class="input-group col-sm-10">
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Confirm Password" formControlName="retypepass" id="retypepass" required>
                  </mat-form-field>
            </div>
            <div class="text-danger" *ngIf="(resetForm.get('passwordGroup.retypepass').touched || resetForm.get('passwordGroup.retypepass').dirty) && (resetForm.get('passwordGroup.retypepass').errors || resetForm.get('passwordGroup').errors)">
                <span class="col-sm-2"></span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="resetForm.get('passwordGroup.retypepass').errors?.required">
                    Please confirm your password
                </span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="resetForm.get('passwordGroup').errors?.mismatchedPassword">
                    Password do not match
                </span>
            </div>
        </div>

    </div>

    <button type="submit" [disabled]="resetForm.invalid" class="btn btn-primary">Submit</button>
  </form>
</mat-card> -->

<div class="login_wrapper">
  <div class="container">
      <div class="col-md-12 pad-0">
          <div class="row login-box-12">
            <div class="col-lg-5 col-md-12 col-sm-12 px-0">
                <div class="login_right">
                    <a href="#" class="logo_text">
                      <span>AAU</span> Business Enterprize
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt Lorem Ipsum</p>
                    <a href="#" class="btn-outline">Read More</a>
                    <ul class="social-list clearfix">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="col-lg-7 col-sm-12">
                  <div class="login-inner-form">
                      <div class="details">
                          <h3>Reset <span>your password</span></h3>
                          <form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm.value)" class="form-horizontal" novalidate autocomplete="off">
                            <div formGroupName="passwordGroup" [ngClass]="{'has-error': resetForm.get('passwordGroup').errors }">

                              <div class="form-group" [ngClass]="{'has-error': resetForm.get('passwordGroup.password').invalid && resetForm.get('passwordGroup.password').dirty}">
                                  <!-- <label for="password" class="col-sm-2 control-label">Password <sup>*</sup></label> -->
                                  <div class="input-group col-sm-10">
                                      <mat-form-field class="full-width-input">
                                        <input matInput placeholder="Password" id="password" formControlName="password" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="text-danger"  *ngIf="resetForm.get('passwordGroup.password').dirty && resetForm.get('passwordGroup.password').errors">
                                      <span class="col-sm-2"></span>
                                      <span class="col-sm-10" style="padding:4px 0 0" *ngIf="resetForm.get('passwordGroup.password').errors.required">
                                          Please enter password
                                      </span>
                                      <span class="col-sm-10" style="padding:4px 0 0" *ngIf="resetForm.get('passwordGroup.password').errors.pattern">
                                          Password must contain one letter, number & special characters
                                      </span>
                                  </div>
                      
                              </div>
                              <div class="form-group" [ngClass]="{'has-error': resetForm.get('passwordGroup.retypepass').invalid && resetForm.get('passwordGroup.retypepass').dirty}">
                                  <!-- <label for="retypepass" class="col-sm-2 control-label">Retype Password <sup>*</sup></label> -->
                                  <div class="input-group col-sm-10">
                                      <mat-form-field class="full-width-input">
                                          <input matInput placeholder="Confirm Password" formControlName="retypepass" id="retypepass" required>
                                        </mat-form-field>
                                  </div>
                                  <div class="text-danger" *ngIf="(resetForm.get('passwordGroup.retypepass').touched || resetForm.get('passwordGroup.retypepass').dirty) && (resetForm.get('passwordGroup.retypepass').errors || resetForm.get('passwordGroup').errors)">
                                      <span class="col-sm-2"></span>
                                      <span class="col-sm-10" style="padding:4px 0 0" *ngIf="resetForm.get('passwordGroup.retypepass').errors?.required">
                                          Please confirm your password
                                      </span>
                                      <span class="col-sm-10" style="padding:4px 0 0" *ngIf="resetForm.get('passwordGroup').errors?.mismatchedPassword">
                                          Password do not match
                                      </span>
                                  </div>
                              </div>
                      
                            </div>  
                            <div class="form-group">
                                <button type="submit" [disabled]="resetForm.invalid" class="btn-md btn-theme btn-block">Reset Password</button>
                            </div>
                          </form>
                          <p><a routerLink="/login"> Login here</a></p>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</div>

<!-- <div class="signin-content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formReset" (ngSubmit)="resetForm(formReset.value)">
          <p>Enter Your Password </p>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Password" formControlName="password" required>
          </mat-form-field>

          <mat-form-field class="full-width-input">
            <input matInput placeholder="Confirm Password" formControlName="password2" required>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!formReset.valid">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div> -->

  <!-- footer -->
  <app-footer></app-footer>