<app-header></app-header>
<!-- <section class="services pt-60 pb-60"   id="services">
   <div class="container cont-item">
       <div class="row">
          <div class="col-xl-12">
             <div class="section-title text-center mb-60">
                
                <h4></h4>
                <p>Consultancy services shall be provided for clients based on the needs and Terms of References/call and requests of the clients in the following areas but not limited to</p>
             </div>
          </div>
       </div>
   </div>
   <div class="container cont-item">
       <div class="row">
          <div class="col-md-4 col-sm-12 " id="left">
            <div class="cont-item">
               <div class="single_service service_right" id="bottom">
                  <h4>Strategic Plan Development & Management</h4>
               </div>
               <div class="single_service service_right" id="bottom">
                  <h4>Organizational restructuring and changes management</h4>
               </div>
               <div class="single_service service_right" id="bottom">
                  <h4>Salary scale and benefit packages</h4>
               </div>
               <div class="single_service service_right" id="bottom">
                  <h4>Human Resources and Organizational Development</h4>
               </div>
             </div>
             <div class="single_mid">
                <img src="../assets/img/consult.jpg" style="width: 100%;height: 100%;" alt="">
             </div>
            <div class="cont-item">
               <div class="single_service service_right" id="bottom">
                  <h4>Edutainment and Catering services</h4>
               </div>
               <div class="single_service service_right" id="bottom">
                  <h4>Gender and development</h4>
               </div>
               <div class="single_service service_right" id="bottom">
                  <h4>Agro-Industry</h4>
               </div>
               <div class="single_service service_right">
                  <h4>Manufacturing</h4>
               </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 text-center" id="mid">
             <div class="single_mid">
                <img src="../assets/img/consult3.jpg"  alt="">
             </div>
            <div class="cont-item">
               <div class="single_service service_right" id="bottom">
                  <h4>Human resource planning and management</h4>
               </div>
               <div class="single_service service_right" id="bottom">
                  <h4>Feasibility Study & Business Development</h4>
               </div>
               <div class="single_service service_right" id="bottom">
                  <h4>Project Management</h4>
               </div>
               <div class="single_service service_right" >
                  <h4>Monitoring, Evaluation, Reporting and Learning</h4>
               </div>
            </div>
               <div class="row single_service service_right">
                   <div id="ballMenuContainer">
                       <div id="menuBall3" class="menuBall">
                           <a routerLink="/consultant/form" class="ball greenball">
                           <div class="menuText text-center">
                               request service
                           </div>
                         </a>
                       </div>
                   </div>
               </div>            
          </div>
          <div class="col-md-4 col-sm-12" id="right">
            <div class="cont-item">
               <div class="single_service service_right" id="bottom">
                  <h4>Evaluation & Studies: Surveillance studies, Baseline, Midterm & Terminal evaluations</h4>
               </div>
               <div class="single_service service_right" id="bottom">
                  <h4>Socio-economic research</h4>
               </div>
               <div class="single_service service_right" id="bottom">
                  <h4>Change Management</h4>
               </div>
               <div class="single_service service_right" id="bottom">
                  <h4>Conflict Management; & Restoring, Developing & Keeping Culture of Peace</h4>
               </div>
            </div>
             <div class="single_mid">
                <img src="../assets/img/consult2.jpg" style="width: 100%;height: 100%;" alt="">
             </div>
             <div class="cont-item">
               <div class="single_service service_right" id="bottom">
                  <h4>Social Responsiveness & Accountability</h4>
               </div>
               <div class="single_service service_right" id="bottom">
                  <h4>E-Governance & ICT</h4>
               </div>
               <div class="single_service service_right">
                  <h4>Automotion & Digitalization</h4>
               </div>
            </div>
          </div>
       </div>
    </div>   
 </section> -->
<body>
   <div data-scroll='2' style="margin-top: 5%" class="my-skill-section sec-p100-bg-bs mb-30 clearfix" id="skill">
      <div class="Section-title">
         <h2><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Consultancy services</h2>
         <p>Consultancy services shall be provided for clients based on the needs and Terms of References/call and requests of the clients in the following areas but not limited to</p>

         <div class="container cont-item">
               <div class="row">
                  <div class="col-md-4 col-sm-12 " id="left">
                  <div class="cont-item">
                     <div class="single_service service_right" id="bottom">
                        <h4>Strategic Plan Development & Management</h4>
                     </div>
                     <div class="single_service service_right" id="bottom">
                        <h4>Organizational restructuring and changes management</h4>
                     </div>
                     <div class="single_service service_right" id="bottom">
                        <h4>Salary scale and benefit packages</h4>
                     </div>
                     <div class="single_service service_right" id="bottom">
                        <h4>Human Resources and Organizational Development</h4>
                     </div>
                     </div>
                     <div class="single_mid">
                        <img src="../assets/img/consult.jpg" style="width: 100%;height: 100%;" alt="">
                     </div>
                  <div class="cont-item">
                     <div class="single_service service_right" id="bottom">
                        <h4>Edutainment and Catering services</h4>
                     </div>
                     <div class="single_service service_right" id="bottom">
                        <h4>Gender and development</h4>
                     </div>
                     <div class="single_service service_right" id="bottom">
                        <h4>Agro-Industry</h4>
                     </div>
                     <div class="single_service service_right">
                        <h4>Manufacturing</h4>
                     </div>
                  </div>
                  </div>
                  <div class="col-md-4 col-sm-12 text-center" id="mid">
                     <div class="single_mid">
                        <img src="../assets/img/consult3.jpg"  alt="">
                     </div>
                  <div class="cont-item">
                     <div class="single_service service_right" id="bottom">
                        <h4>Human resource planning and management</h4>
                     </div>
                     <div class="single_service service_right" id="bottom">
                        <h4>Feasibility Study & Business Development</h4>
                     </div>
                     <div class="single_service service_right" id="bottom">
                        <h4>Project Management</h4>
                     </div>
                     <div class="single_service service_right" >
                        <h4>Monitoring, Evaluation, Reporting and Learning</h4>
                     </div>
                  </div>
                     <div class="row single_service service_right">
                           <div id="ballMenuContainer">
                              <div id="menuBall3" class="menuBall" style="margin: 10px">
                                 <a routerLink="/consultant/form" class="ball greenball">
                                 <button class="bttn">
                                    request service
                                 </button>
                                       
                                 <!-- </div> -->
                                 </a>
                              </div>
                           </div>
                     </div>            
                  </div>
                  <div class="col-md-4 col-sm-12" id="right">
                  <div class="cont-item">
                     <div class="single_service service_right" id="bottom">
                        <h4>Evaluation & Studies: Surveillance studies, Baseline, Midterm & Terminal evaluations</h4>
                     </div>
                     <div class="single_service service_right" id="bottom">
                        <h4>Socio-economic research</h4>
                     </div>
                     <div class="single_service service_right" id="bottom">
                        <h4>Change Management</h4>
                     </div>
                     <div class="single_service service_right" id="bottom">
                        <h4>Conflict Management; & Restoring, Developing & Keeping Culture of Peace</h4>
                     </div>
                  </div>
                     <div class="single_mid">
                        <img src="../assets/img/consult2.jpg" style="width: 100%;height: 100%;" alt="">
                     </div>
                     <div class="cont-item">
                     <div class="single_service service_right" id="bottom">
                        <h4>Social Responsiveness & Accountability</h4>
                     </div>
                     <div class="single_service service_right" id="bottom">
                        <h4>E-Governance & ICT</h4>
                     </div>
                     <div class="single_service service_right">
                        <h4>Automotion & Digitalization</h4>
                     </div>
                  </div>
                  </div>
               </div>
            </div>   
      </div>
   </div> 
</body> 
 