<!-- nav -->
<app-header></app-header>
<!-- end nav -->
<mat-card style="margin-top: 5%">
    <div class="container" style="box-shadow: 12px 4px 12px 8px rgba(0,0,0,.3)">
    <div class="row">
        <div class="Section-title">
            <h2>
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              Messages
            </h2>
              <span>Messages</span>
              <p>
                  Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpuate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.
              </p>
          </div>
      <div class="box-body no-padding">
                    <div class="mailbox-controls">
                      <!-- Check all button -->
                      <button class="btn btn-default btn-sm checkbox-toggle"><i class="glyphicon glyphicon-unchecked"></i></button>
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
                        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
                        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-share-alt"></i></button>
                      </div><!-- /.btn-group -->
                      <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i></button>
                      <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                          <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
                          <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-right"></i></button>
                        </div><!-- /.btn-group -->
                      </div><!-- /.pull-right -->
                    </div>
                    <hr>
                    <div class="table-responsive mailbox-messages">
                      <table class="table table-hover table-striped">
                        <tbody>
                          <tr *ngFor="let post of user;">
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                            <td class="mailbox-name"><a (click)="getMessage(post._id)">{{post.subject}}</a></td>
                            <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">{{post.created_At}}</td>
                          
                        </tbody>
                      </table><!-- /.table -->
                    </div><!-- /.mail-box-messages -->
                  </div><!-- /.box-body -->
                  <hr>
                  <div class="box-footer no-padding">
                    <div class="mailbox-controls">
                      <!-- Check all button -->
                      <button class="btn btn-default btn-sm checkbox-toggle"><i class="glyphicon glyphicon-unchecked"></i></button>
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
                        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
                        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-share-alt"></i></button>
                      </div><!-- /.btn-group -->
                      <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i></button>
                      <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                          <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
                          <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-right"></i></button>
                        </div><!-- /.btn-group -->
                      </div><!-- /.pull-right -->
                    </div>
                  </div>
    </div><!-- /. box -->
  </div>
</mat-card>

<!-- footer -->
<app-footer></app-footer>