<!-- nav -->

<!-- end nav -->
<!-- <div class="container"> -->
  <app-header></app-header>
  <!-- <div class="row"> -->
    <div class="header">

      <!--Content before waves-->
      <div class="inner-header flex">
        <!--Just the logo.. Don't mind this-->
        <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
        <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
        <g><path fill="#fff"
        d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
        C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
        c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7		c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2	c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
        </g>
        </svg>
        
            <div class="col-sm">
              <div class="title-desc">
                <h4 class="display-title">
                  <strong >
                    <span class="line-block" style="color: aliceblue"><h2> Welcome to AAU Buisness &</h2> </span>
                    <span class="line-block" style="color: aliceblue">Enterprize counsling </span>
                  </strong>
                </h4>
                <h4 class="sr-up-td3"><p>we are here to help you to accomplish and make you comptitive on your job that you needed</p></h4>
              </div>
            </div>
            <!-- <div class="col-sm"> -->
              <div class="col-sm-6 imm" style="margin-top: 60px">
                <img src="../../../assets/img/undraw_product_tour_foyt.svg" alt="">
              </div>
            <!-- </div> -->

          <!-- </div>
        </div> -->
        
      </div>

      <!--Waves Container-->
      <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
        </svg>
      </div>
      <!--Waves end-->

    </div>
  <!-- </div> -->
<!-- </div> -->
<!--Header ends-->

<!-- <div class="waveWrapperInner bgBottom">
	<div class="wave waveBottom"></div>
</div> -->

<!-- main part -->
<div class="container">
  <div class="row">
    <div class="col-sm ma ">
      <h2 class="display-4 display-title">Our Services</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellat obcaecati placeat repudiandae, deleniti fugit minima, dolores ratione fuga ex nam dignissimos sit aspernatur debitis voluptatum molestias explicabo enim adipisci! Molestias consequatur voluptatum, libero inventore consectetur. dignissimos laudantium! Suscipit eum, adipisci soluta quae corrupti iure?</p>
    </div>
  </div>

  <div class="row">
    <!-- first card view -->
    <div class="col-sm">          
      <div class="box-part text-center">
                
          <img src="assets/img/undraw_business_plan_5i9d.svg" alt="">
                
        <div class="title">
          <h4>Consulting</h4>
        </div>
                
        <div class="text">
          <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
        </div>
                
        <button class="learn-more"><a routerLink="consultant" class="card-btn">Learn More</a></button>
                
       </div>
    </div>  
    <!-- second card view -->
    <div class="col-sm">
               
      <div class="box-part text-center">
                
                <img src="assets/img/undraw_process_e90d.svg" alt="">
                
        <div class="title">
          <h4>Research</h4>
        </div>
                
        <div class="text">
          <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
        </div>
                
        <button class="learn-more"><a routerLink="research" class="card-btn">Learn More</a></button>
                
       </div>
    </div>  
    <!-- third card view -->
    <div class="col-sm">
               
      <div class="box-part text-center">
                
          <img src="assets/img/undraw_mobile_payments_edgf.svg" alt="">
                
        <div class="title">
          <h4>Trainig</h4>
        </div>
                
        <div class="text">
          <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
        </div>
                
        <button class="learn-more"><a routerLink="training" class="card-btn">Learn More</a></button>
                
       </div>
    </div>  
  </div>

  <div class="row" style="margin-top: 15%">
    <!-- <div class="col-sm-5 offset-sm-3">
      <h2 class="display-4">title here</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ipsum consectetur neque placeat saepe repellendus culpa eius ad impedit a officia voluptatibus, numquam. Consequatur excepturi non veniam eaque, id natus.</p>
    </div>
    <div class="col-sm-5"> -->
      <!-- <img src="img/path 1.sv" alt="">
    </div>
 -->
  </div>
</div>

<!-- side by side -->
<div class="container ">
  
     <!--first part  -->
    <div class="row sidd"> 
        <div class="col-sm">  
            <div class="section-title text-center" style="margin-top: 20px;">
               <h4>Consulting Service</h4>
               <p>Consultancy services shall be provided for clients based on the needs and Terms of References/call and requests of the clients in the following areas but not limited to</p>

            </div>
        </div>
        <div class="col-sm">  
            <img src="assets/img/consult3-removebg-preview.png " alt="Consulting service">
        </div>
    </div>

    <!-- second part -->
    <div class="row sidd"> 
        <div class="col-sm">  
            <img src=" assets/img/round-table-743a270343b94df5472c828ecd2cfbefcc04309dc35aefc30e50b2d666813f96.png " alt="Training service">
        </div>
        <div class="col-sm">  
            <div class="section-title text-center">
               <h4>Training </h4>
               <p>AAUBE shall organize and deliver a regular/open/ and tailor-made trainings to the clients. See the annex part 3 for the detail lists of the topics, days and price of the trainings. The training schedules may be determined upon negotiation.</p>
            </div>
        </div>
    </div>

    <!-- third part research -->
    <div class="row sidd"> 
        
        <div class="col-sm">  
            <div class="section-title text-center">
               <h4>Research </h4>
               <p>AAUBE shall undertake researches as per the needs and calls of organizations and stakeholders on diversified issues &amp; sectors mainly in the following areas but not limited to:</p>
            </div>
        </div>
        <div class="col-sm">  
            <img src=" assets/img/research.png " alt="Training service">
        </div>
    </div>
</div>
<!-- end side  by side -->

<!-- partners -->
<!-- class="container" style="margin-top: 35px">
  <div class="row">
    <div class="col-sm">
      <app-partners></app-partners>
    </div>
    
  </div>

<div class="section-title text-center mb-60">
  <h4 class="text-center">our Mission And Vision</h4>
</div>

  <div class="container">
d    
    <!-- <div class="row justify-content-center ce"> -->
<!-- class="container">
  <!-- class="row">
    <!-- <div class="col-sm"> -->
         
          <!-- <div class="info-box">
            <h2>OUR VISION</h2>
            <p>We aspire to become world class standard and center of innovation for business excellence.</p>
            <a routerLink="/mission" class="cta">View More</a>
          </!--> 
          <!-- <div class="card transition">
            <h2 class="transition">OUR VISION</h2>
            <p>We aspire to become world class standard and center of innovation for business excellence.</p>
            <div class="cta-container transition"><a routerLink="/mission" class="cta">View More</a></div>
            <div class="card_circle transition"></div>
          </!--> 

      <!-- <div class="col-sm" > -->
          
        <!-- <div class="info-box">
          <h2>OUR MISSION</h2>
          <p>To provide innovative solutions to customers and maximize benefits to all stakeholders by attracting and retaining the best staff, introducing modern management and IT systems in every operation and partnering strategically with key stakeholders.</p>
          <a routerLink="/mission" class="cta">View More</a>
        </!--> 
        <!-- <div class="card transition">
          <h2 class="transition">OUR MISSION</h2>
          <p>To provide innovative solutions to customers and maximize benefits to all stakeholders by attracting and retaining the best staff, introducing modern management and IT systems in every operation and partnering strategically with key stakeholders.</p>
          <div class="cta-container transition"><a routerLink="/mission" class="cta">View More</a></div>
          <div class="card_circle transition"></div>
        </div> -->
      <!-- </div> -->
  <!-- </div> -->
      
     <div class="container">
        <div class="section-title text-center mb-60">
            <h4 class="text-center">our Mission And Vision</h4>
          </div>
       <div class="row justify-content-md-center">
         <div class="col-4">
            <div class="card-main">
              <div class="face face1">
                  <div class="content-main">
                      <img style="align-items: center" src="../../../assets/img/mission-removebg-preview.png">
                      <h3>OUR MISSION</h3>
                  </div>
              </div>
              <div class="face face2">
                  <div class="content-main">
                      <p>To provide innovative solutions to customers and maximize benefits to all stakeholders by attracting and retaining the best staff, introducing modern management and IT systems in every operation.</p>
                          <a routerLink="/mission">Read More</a>
                  </div>
              </div>
            </div>
         </div>


         <div class="col-4">
            <div class="card-main">
                <div class="face face1">
                    <div class="content-main">
                        <img style="align-items: center" src="../../../assets/img/vision__2_-removebg-preview.png">
                        <h3>OUR VISION</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content-main">
                        <p>We aspire to become world class standard and center of innovation for business excellence.</p>
                            <a routerLink="/mission">Read More</a>
                    </div>
                </div>
            </div>
         </div>
       </div>
        
      
     </div>
    <!-- </div> -->

    
  <!-- <div class="row">
    <div class="col-sm">
      <div id="contact" class="contact cd-section container"> 
          <app-contact-us></app-contact-us> 
      </div>
    </div>
  </!--> -->

<!-- </div> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-sm"> -->
            <div class="slider-container">
                <div class="slider-control left inactive"></div>
                <div class="slider-control right"></div>
                <ul class="slider-pagi"></ul>
                <app-delivery></app-delivery>
            </div>
        <!-- </div>
      </div>
</div> -->

<div class="bg">
  <div id="contact" class="contact cd-section"> 
    <div class="container">
      <app-contact-us></app-contact-us>
    </div>
  </div>
</div>

<!-- end partners -->


<!-- <div class="container"> 
  <app-delivery></app-delivery>
</div> -->

<!--mission and vission starts-->
<!-- <div class="container" style="margin-top: 30px">
		
</div> -->
<!--mission and vission ends-->

<div class="container-fluid">
  <div class="row dwn">
    <div class="col-sm">
      <h2 class="title">Download pdfs</h2>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores architecto nemo est maiores numquam odit veniam eius totam mollitia ut quas officia, vitae corporis adipisci quasi harum fugit! Quo, eveniet.</h4>
    </div>
    <div class="col-sm">
      <div id="header" >
        <div class="row" style="color: aliceblue">
           
           <ul class="list-inline dev-icons">
             <li class="list-inline-item"><button class="down"><a target="_blank" mat-button href="http://localhost:2011/uploads/downloads/file.pdf" download="file_new_name.pdf">Downloade here</a></button></li>
             <li class="list-inline-item"><button class="down"><a target="_blank" mat-button href="http://localhost:2011/uploads/downloads/file.pdf" download="file_new_name.pdf">Downloade here</a></button></li>
      
             <li class="list-inline-item"><button class="down"><a target="_blank" mat-button href="http://localhost:2011/uploads/downloads/file.pdf" download="file_new_name.pdf">Downloade here</a></button></li>
             <li class="list-inline-item"><button class="down"><a target="_blank" mat-button href="http://localhost:2011/uploads/downloads/file.pdf" download="file_new_name.pdf">Downloade here</a></button></li>
             <li class="list-inline-item"><button class="down"><a target="_blank" mat-button href="http://localhost:2011/uploads/downloads/file.pdf" download="file_new_name.pdf">Downloade here</a></button></li>
             <li class="list-inline-item"><button class="down"><a target="_blank" mat-button href="http://localhost:2011/uploads/downloads/file.pdf" download="file_new_name.pdf">Downloade here</a></button></li>
             <li class="list-inline-item"><button class="down"><a target="_blank" mat-button href="http://localhost:2011/uploads/downloads/file.pdf" download="file_new_name.pdf">Downloade here</a></button></li>
      
           </ul>
        </div>
      </div>
    </div>
  </div>
</div>

    
<div class="fix"></div>

<app-footer></app-footer>
  
