<!-- header -->
<app-header></app-header>
<!-- end header -->
<div class="page-wrapper" style="margin-top: 55px" id="needPrint">
  <div class="wrapper wrapper--w680">
    <div class="card card-1">
      <mat-card style="margin-left: 4%;margin-right:4%;margin-top:5%">
        <!-- <div class="card-heading"></div> -->
        <div class="card-body">
            <h2 class="title" style="text-align: center;">MEMORANDUM OF UNDERSTANDING for Partnership </h2>

            <form action="">
              <div class="row">
                <div class="col-sm">
                  <label for="type">Partnership Type </label>
                    <mat-form-field class="example-full-width">
                    <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                  <label for="reference">Reference </label>
                    <mat-form-field class="example-full-width">
                      <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                  <label for="type">Date </label>
                    <mat-form-field class="example-full-width">
                      <input matInput>
                    </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm">
                  <h6>On the Establishment of a Partnership between AAUBE, OO, Center for Consultancy, Research & Training/CRT Service & <mat-form-field class="example-full-width">
                      <input matInput>
                    </mat-form-field>.to Foster Collaboration and Joint Venture  Business Engagement</h6>
                </div>
              </div>

              <div class="row">
                <h4 class="title">Background:</h4>
              </div>
              <div class="row">
                <div class="col-sm">
                  <p>AAUBE was established by Addis Ababa University, AAU and Addis Ababa University Workers Saving & Credit Limited Liability Cooperative Society, AAUWSCLLCS on Jan 2014, with the aim to engage in different business & investment activities in order to generate financial resource that would eventually enable AAU to achieve its long term aim for self-reliance.  

                      Therefore, having Organizational Capacity & Legal Personality to undertake CRT services using AAU’s professionals from diversified disciplines can make a difference, AAUBE is looking for partnership to provide and deliver quality and need based services for Clients. This MoU is framed in a such way:
                      </p> 
                </div>
              </div>

              <h3 class="title">1. General:</h3>
              <div class="row">
                <div class="col-sm">
                  <p>The below listed points are among the major reason for looking partnership for synergy to work in partnership arises by taking into consideration</p>
                  <ol type="a" style="margin-left: 20px">
                    <li> Having regard business development and service giving organizations are individual based and working with limited capacity;</li>
                    <li> Having regard the shortage of well organized, credible and competitive institute in the area of education, training, research, consultancy and publication that accelerate the effort and work of those sectors;</li>
                    <li> Having regard the need and outsourcing of various works are flowing on the market but still there is unmet needs and quality of works are not yet delivered;</li>
                    <li> Having regard to the professionals and experts are not coming together and contribute their best in the development of the sector; </li>
                    <li> Having regard different consultancy, research & training works are owned by few with the limitation in organizational capacity though still there is expertise and competencies in the local market available;</li>
                    <li> Having some of the areas like Consultancy, Research, Training and educational & research based publication related activities are not yet untapped. </li>
                    <li> Having IGOs, Public Sectors, INGOs, NGOs, and the private sector is wasting their time and scarce resource in search of professionals to do the work together;</li>
                    <li> Having regard there is no so much formal partnership exists and such culture is not yet well developed;</li>
                    <li> Having regard still there is a positive trend, a growing prospect and a moral obligation to respond to all these professional matters;</li>
                    <li> Believing that all these things should be met and the challenge can be resolved through partnership, collaboration and joint venture; Therefore, AAUBE is looking for partnership.</li>

                  </ol>
                </div>
              </div>

              <h3 class="title">2. Objective of MoU</h3>
              <h5>2.1. General Objective</h5>
              <div class="row">
                <ol type="a">
                  <li>Through partnership, AAUBE expresses its wish to form collaboration, cooperation, and joint venture in core areas of the company and bridge the gap prevailed in the area.  </li>
                  <li>The overall objective of the partnership is to strengthen the institutional ties between AAUBE  and the partner in the area of CRT and publication of educational & research based items. </li>
                </ol>
              </div>

              <h5>2.2. The specific objectives:</h5>
              <div class="row">
                <div class="col-sm">
                  <ol>
                    <li>Increase understanding on the bases of mutual benefit and professional contribution that will function both parties; </li>
                    <li>Avail expertise; provide CRT services, material production & publication when the need arises;</li>
                    <li>Foster better collaboration through effective  and wise use of resource between the institutions; </li>
                    <li>Guarantee timely provision of services, quality of work and deliverables. </li>
                  </ol>
                </div>
                
              </div>

              <h3 class="title">3. Partnership Modality</h3>
              <div class="row">
                <p>The objectives of the partnership will be achieved through:</p>
                <ol>
                  <li>Exchange of services:  consultancy, research and training services as well as research and educational  material development and production</li>
                  <li>Staff or expert secondment,</li>
                  <li>Organizing Workshop & Conference;</li>
                  <li>Certification program;</li>
                </ol>
              </div>

              <h3 class="title">4. Principles</h3>
              <p>The partnership will be based on the following general principles: </p>
              <div class="row">
                <ol>
                  <li>Respect and mutual understanding;</li>
                  <li>Respecting organizational structures, mandates and institutional capacities of both parties;  </li>
                  <li>Quality of work, timely deliverables, reasonable cost.</li>
                  <li>Strong professional and ethical dealings.</li>
                  <li>Reciprocity of action and commitment. </li>
                </ol>
              </div>

              <h3 class="title">5. Areas Of Cooperation</h3>
              <h5>5.1 Consultancy</h5>
              <div class="row">
                <ol type="a">
                  <li>Strategic Plan Development & Management;</li>
                  <li>Organizational restructuring and changes management;</li>
                  <li>Salary scale and benefit packages;</li>
                  <li>Human Resources and Organizational Development;</li>
                  <li>Human resource planning and management;</li>
                  <li>Feasibility & Business Development ;</li>
                  <li>Project Management</li>
                  <li>Monitoring, Evaluation, Reporting and Learning</li>
                  <li>Agro-Industry & Manufacturing;</li>
                  <li>Change Management;</li>
                  <li>Conflict Management;</li>
                  <li>Edutainment and Catering services;</li>
                  <li>Social responsiveness  & accountability</li>
                  <li>Gender and development</li>
                  <li>E-Governance;</li>
                  <li>ICT</li>
                </ol>
              </div>

              <h5>5.2 Research</h5>
              <div class="row">
                <ol type="a">
                  <li>A nation-wide researches on socio-economic, governance & politics and Business;</li>
                  <li>Nation-wide feasibility study;</li>
                  <li>Evaluation & Studies: Surveillance studies, Baseline, Midterm & Terminal evaluations;</li>
                  <li>Socio-economic research</li>
                  <li>ICT and related;</li>
                  <li>Education & Capacity Building;</li>
                  <li>Health and Hygiene;</li>
                  <li>Culture/Traditional Practices & Values;</li>
                </ol>
              </div>

              <h5>5.3 Training:</h5>
              <div class="row">
                <ol type="a">
                  <li>Open/Regular Training categorized in Management Development Training & Expertise Development Training;</li>
                  <li>Tailor-made Training based on the TNA of the Client’s Organization; </li>
                </ol>
              </div>

              <h5>5.4 Secondmnet:</h5>
              <div class="row">
                <ol type="a">
                  <li>Professionals’ deployment at IGOs, INGOs, Multinationals Cooperation, etc;</li>
                  <li>Overseas deployment of professionals;</li>
                </ol>
              </div>

              <h5>5.5 Certification:</h5>
              <p>Certification Program with a short term training </p>

              <h5>5.6 Publication:</h5>
              <p>Educational & Research based Material Development & Publication such as: Training material, Books, leaflets, booklets, posters, radio and TV spot programs, Magazines;</p>
              
              <h3 class="title">6 Financial Framework:</h3>
              <div class="row">
                <ol type="a">
                  <li>Both parties shall stand for the Transparent, reliable & timely documentation of transaction;</li>
                  <li>The enterprise administration & finance department shall be entitled to manage the finance as far as the Enterprise is going to earn 50 %& above from the delivery of a service delivered as per this partnership;</li>
                  <li>Depending on the nature of the intended CRT service, the percentage of  partner share, the level of partners engagement, the structure & capacity of the Finance Unit of the partner, the partner finance unit might manage the finance;</li>
                </ol>
              </div>

              <h3 class="title">7 Benefits Of Partnership:</h3>
              <div class="row">
                <ol type="a">
                  <li>Synergy For Mutual Success</li>
                  <li>Goodwill & Facility Sharing</li>
                  <li>Quality Service Provision With Guarantee.</li>
                  <li>Simplifying Bid Process And Complications.</li>
                  <li>Confidence And Trust Building</li>
                  <li>Timely Deliverables</li>
                  <li>Competent And Well Experienced.</li>
                </ol>
              </div>

              <h3 class="title">8. Duration & Termination</h3>
              <p>This MoU is effective until the life span of a strategic plan years/ 5 Years. Both parties shall establish a comprehensive agreement upon securing the Tender/Assignment. </p>
              <p>SIGNED on this:</p>
              <div class="row">

                <div class="col-sm">
                  <div class="row">
                    <!-- left -->
                    <div class="col-sm">
                      <label for="reference">SIGNED on this </label>
                      <mat-form-field class="example-full-width">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div> 
                  <div class="row">
                    <div class="col-sm">
                      <label for="reference">Mr/Dr </label>
                      <mat-form-field class="example-full-width">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <label for="reference">address </label>
                      <mat-form-field class="example-full-width">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-sm">
                      <label for="reference">P.O.Box: </label>
                      <mat-form-field class="example-full-width">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-sm">
                      <label for="reference">Email: </label>
                      <mat-form-field class="example-full-width">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-sm">
                      <label for="reference">Tel: </label>
                      <mat-form-field class="example-full-width">
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div> 
                </div>

                <div class="col-sm" style="margin-top:20%;float:right">
                  <h4>General Manager</h4>
                  <ol>
                    <li>Addis Ababa University Business Enterprise Plc</li>
                    <li>AAU Main Campus, Sidist Kilo </li>
                    <li>P.O.Box 150368</li>
                    <li>Addis Ababa, Ethiopia</li>
                  </ol>
                </div>
                
              </div>
            </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<button (click)="print()">Print</button>

<!-- footer -->
<app-footer></app-footer>