  

<div class="slider-container">
  <div class="slider-control left inactive"></div>
  <div class="slider-control right"></div>
  <ul class="slider-pagi"></ul>
  <div class="slider">
    <div class="slide slide-0 active">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <!-- <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg> -->
        <div class="slide__text">
          <h2 class="slide__text-heading">Project name 1</h2>
          <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
          <a class="slide__text-link">Project link</a>
        </div>
      </div>
    </div>
    <div class="slide slide-1 ">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <!-- <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </!--> 
        <div class="slide__text">
          <h2 class="slide__text-heading">Project name 2</h2>
          <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
          <a class="slide__text-link">Project link</a>
        </div>
      </div>
    </div>
    <div class="slide slide-2">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <!-- <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg> -->
        <div class="slide__text">
          <h2 class="slide__text-heading">Project name 3</h2>
          <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
          <a class="slide__text-link">Project link</a>
        </div>
      </div>
    </div>
    <div class="slide slide-3">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <!-- <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg> -->
        <div class="slide__text">
          <h2 class="slide__text-heading">Project name 4</h2>
          <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
          <a class="slide__text-link">Project link</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->


<!-- delivery -->
<!-- <div class="container" style="margin-top: 15%"> -->
  <!-- <div class="margin"></div>
  <div class="slider-container">
    <div class="slider-control left inactive"></div>
    <div class="slider-control right"></div>
    <ul class="slider-pagi"></ul>
    <div class="slider">
      <div class="slide slide-0 active">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">In Ethiopia Nation and nationalities festivity in Harer Tawon</h2>
            <p class="slide__text-desc">Dramatic concert</p>
            <a href="http://www.Ethiopia.com"
            class="slide__text-link">Company Link</a>
          </div>
        </div>
      </div>
      <div class="slide slide-1 ">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">Ethiopian Shipping and Logistics Services Enterprise</h2>
            <p class="slide__text-desc">Customer Satisfaction, Employee Satisfaction, Human Resource Strategy and Level of organizational culture Study</p>
            <a href="http://www.ethioshipping.com/abdulrasheed" 
            class="slide__text-link">Company Link</a>
          </div>
        </div>
      </div>
      <div class="slide slide-2">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">The Ministry of Water, Irrigation and Energy</h2>
            <p class="slide__text-desc">Economic Benefits of Cooperation for Equitable Allocation of International Water Resources: The case of Eastern Nile Basin</p>
            <a href="http://hkmbhutto.wix.com/abdulrasheed"
            class="slide__text-link">Company Link</a>
          </div>
        </div>
      </div>
      <div class="slide slide-3">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">City Government of Addis Ababa, Micro and Small Enterprises Development Bureau</h2>
            <p class="slide__text-desc">Challenges and Constraints Faced by the MSEs in Addis Ababa City Administration</p>
            <a href="http://hkmbhutto.wix.com/abdulrasheed"
            class="slide__text-link">Company Link</a>
          </div>
        </div>
      </div>
      <div class="slide slide-4">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">Bureau of Labor and Social Affairs Of Addis Ababa City Government</h2>
            <p class="slide__text-desc">Survey Of Establishment Profile in Addis Ababa</p>
            <a href="http://hkmbhutto.wix.com/abdulrasheed"
            class="slide__text-link">Company Link</a>
          </div>
        </div>
      </div>
      <div class="slide slide-5">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">Authority For Research And Conservation Of Cultural Heritage</h2>
            <p class="slide__text-desc">Heritage Inventory & Documentation Management System</p>
            <a href="http://hkmbhutto.wix.com/abdulrasheed"
            class="slide__text-link">Company Link</a>
          </div>
        </div>
      </div>
      <div class="slide slide-6">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">House Of Federation</h2>
            <p class="slide__text-desc">Revising the existing federal democratic republic grant allocation formula of 
            federal democratic republic of Ethiopia for the year 2010-2015</p>
            <a href="http://hkmbhutto.wix.com/abdulrasheed"
            class="slide__text-link">Company Link</a>
          </div>
        </div>
      </div>
      <div class="slide slide-7">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">FDRE Ministry of Transport</h2>
            <p class="slide__text-desc">Freight Transportation Rate Study</p>
            <a href="http://hkmbhutto.wix.com/abdulrasheed"
            class="slide__text-link">Company Link</a>
          </div>
        </div>
      </div>
      <div class="slide slide-8">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">Ethio-Telecom</h2>
            <ul>
              <li><p class="slide__text-desc">SPSS</p></li>
              <li><p class="slide__text-desc">Gender, SPSS and Effective report writing skill</p></li>
              <li><p class="slide__text-desc">Planning, Coordination & Reporting For Labor Union Staff</p></li>
              <li><p class="slide__text-desc">Developing communication skills & strategies and Information Technology Project Management</p></li>
              <li><p class="slide__text-desc">Gender Audit Study</p></li>
            </ul>
            
            <a href="http://hkmbhutto.wix.com/abdulrasheed"
            class="slide__text-link">Company Link</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slide slide-9">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">Meles Zenawi Leadership Academy</h2>
            <p class="slide__text-desc">SPSS & STATA</p>
            
            <a href="http://hkmbhutto.wix.com/abdulrasheed"
            class="slide__text-link">Company Link</a>
          </div>
        </div>
      </div>
  </div>
  <div class="slide slide-10">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">World Vision Ethiopia</h2>
            <p class="slide__text-desc">Project Appraisal System & Program evaluation and impact assessment </p>
            <a href="http://hkmbhutto.wix.com/abdulrasheed"
            class="slide__text-link">Company Link</a>
          </div>
        </div>
  </div>
  <div class="slide slide-11">
    <div class="slide__bg"></div>
    <div class="slide__content">
      <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
        <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
      </svg>
      <div class="slide__text">
        <h2 class="slide__text-heading">Lion Bank</h2>
        <p class="slide__text-desc">IFRS</p>
        <a href="http://hkmbhutto.wix.com/abdulrasheed"
        class="slide__text-link">Company Link</a>
      </div>
    </div>
  </div>
  <div class="slide slide-12">
    <div class="slide__bg"></div>
    <div class="slide__content">
      <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
        <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
      </svg>
      <div class="slide__text">
        <h2 class="slide__text-heading">Ministry Of Education</h2>
        <p class="slide__text-desc">Advanced ICT</p>
        <a href="http://hkmbhutto.wix.com/abdulrasheed"
        class="slide__text-link">Company Link</a>
      </div>
    </div>
  </div> -->
<!-- </div> -->

<!-- end delivery -->